html, body {
margin: 0;
padding: 0;
height: 100%;
}

header {
    width: 100%;
	left: 0;
	top: 0;
    margin:auto;
    overflow:hidden;
    background-color: #276bb0;
    height: 100px;
    font-size: 20px;
    color: #ffffff;
    font-family: calibri;
}

header > h1 {
    margin-left: 20px;
}

aside {
    display: block;
    background-color: #454d55;
    width:250px;
    height: 100%;
    float:left;
    color: #ffffff;
    font-family: calibri;
    font-size: 20px;
}

ul
{
    list-style-type: none;
}

aside > ul > li {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #3576b8;
}

li > a {
 color: #ffffff;
 text-decoration: none;
}

nav {
    margin:auto;
    overflow:hidden;
    padding-left: 10px;
    padding-bottom: 40px;
    top: 0px;
    background-color: #868d95;
    font-family: calibri;
    font-size: 20px;
    height: 50px;
    color: #ffffff;
}

section{
    margin:auto;
    overflow:hidden;
    padding: 10px;
    font-family: calibri;
    font-size: 16px;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    height: 5%;
    background-color: #276bb0;
}

input {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #cccccc;
}


.panel-blue {
	min-height: 200px;
	height: auto;
	padding: 10px;
	background-color: #276bb0;
	border: 1px solid #cccccc;
}

p > label, .texto-blanco {
	margin-left: 5px;
	color: #ffffff;
	font-weight: bold;
}

.col {
	margin-left: 5px;
	height: auto;
}


.left {
	float: left;
}


.middle {
	position: relative;
	float:right;
	right: 50%;
}

.right {
	float: right; 
}

.divisor {
	border-bottom: 1px solid #cccccc;
	margin-top: 20px;
	margin-bottom: 20px;
}

#calculo {	
	margin-top:6%;
	width: 20px;
	height: 20px;
}
	